[submodule "zsh/.config/zsh/plugins/z"]
	path = zsh/.config/zsh/plugins/z
	url = https://github.com/rupa/z
[submodule "i3blocks-pomodoro"]
	path = i3blocks-pomodoro
	url = https://github.com/rkashapov/i3blocks-pomodoro
[submodule "momox"]
	path = momox
	url = git@gitlab.bof.mm.local:palbrecht/dotfiles.git
[submodule "qutebrowser/.config/qutebrowser/themes/nord"]
	path = qutebrowser/.config/qutebrowser/themes/nord
	url = git@github.com:Linuus/nord-qutebrowser.git
[submodule "fzf/.config/fzf/fzf-tab"]
	path = fzf/.config/fzf/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "envelio"]
	path = envelio
	url = git@git.envelio.sh:2222/lens/dotfiles.git
