[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync --config=${HOME}/.config/isync/mbsyncrc -Va

[Install]
WantedBy=default.target
